.dashboard {
    padding: 20px;
    text-align: center;
    color: white;
}

.dashboard h1 {
    margin-bottom: 20px;
}

.dashboard select {
    margin-bottom: 20px;
}

.dashboard h2 {
    margin-top: 20px;
}

select, option {
    color: black;
}