/* src/styles/MapContainer.css */
.map-page {
    background-color: #2c2c2c; /* Dark gray background */
    min-height: 100vh; /* Ensure it covers the full height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container {
    width: 500px;
    height: 400px;
    margin: 20px auto;
    background-color: #2c2c2c; /* Dark gray background */
    justify-content: center;
}

/* Other styles remain unchanged */
.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filters button {
    margin-right: 10px;
    padding: 50px 27px;
    border: 2px solid #ffffff; /* White border */
    background-color: transparent; /* Transparent background */
    color: #ffffff; /* White text */
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 5px;
    justify-content: center;
}

.filters button:hover {
    background-color: #ffffff; /* White background on hover */
    color: #1a1a80; /* Dark blue text on hover */
}