/* src/styles/MapContainer.css */
.map-page {
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container {
    flex: 1;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaflet-map {
    width: 50%;
    height: 50%;
    border-radius: 20px;
    position: relative;
}

.leaflet-container {
    width: 100% !important;
    height: 100% !important;
    border-radius: 20px !important;
    background: none !important;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filters button {
    margin-right: 10px;
    padding: 50px 27px;
    border: 2px solid #ffffff; 
    background-color: transparent; 
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 5px;
    justify-content: center;
}

.filters button:hover {
    background-color: #ffffff; 
    color: #1a1a80; 
}


.location-list {
    flex: 1; 
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
    overflow-y: auto; 
    min-width: 350px; 
    max-width: 400px; 
    box-sizing: border-box;
}


.scrollable-cards {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.location-card {
    background: #333;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    max-width: 100%;
}

.location-card:hover {
    background-color: #444;
    transform: scale(1.02);
}

.location-card h3 {
    margin: 0;
    color: #f0f0f0;
}

.location-card p {
    font-size: 14px;
    color: #bbb;
}



.reset-button {
    margin-top: 10px;
    padding: 10px 15px;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.reset-button:hover {
    background-color: #ffffff;
    color: #1a1a80;
}
